# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
backend/OSX/server
backend/Linux/server

# Xcode
*.xccheckout

# Installed files
libs/OSX/jansson-2.6
libs/OSX/apr-1.5.0
libs/OSX/libevent-2.0.21-stable
libs/Linux/jansson-2.6
libs/Linux/apr-1.5.0
libs/Linux/libevent-2.0.21-stable
libs/Linux/libspotify-12.1.51-Linux-x86_64-release

# Cached files
backend/OSX/.cache
backend/OSX/.settings
backend/Linux/.cache
backend/Linux/.settings

# Privacy files
backend/spotify_appkey.key
backend/config
